.PatratSingup
{
    width: 1200px;
    height: 800px;
    border: 2px solid transparent;
    background-color: #48C9B0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 5px 3px 3px black;
}     
.UssernameParola,
.NicknamePoza {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
}

.Ussername,
.Parola,
.Nickname,
.Poza {
  width: 100%;
}

.Ussername,
.Parola,
.Nickname,
.Poza {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Ussername form,
.Parola form,
.Nickname form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.Ussername input,
.Parola input,
.Nickname input {
  width: 80%;
  padding: 8px;
  border-color: black;
  font-family: "Comic Sans MS", cursive;
  border-radius: 10px;
  background-color: #48C9B0;
}
.ButonoSingup
{
    height: 20px;
    width:90px;
    background-color:#d4efea;
    border: 2px solid transparent;
    font-family: "Comic Sans MS", cursive;
    text-align: center;
    align-items: center;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    padding-bottom: 5px;
    
    
}
.PatratDate
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;

}
.PatratPoza
{
  width: 50%;
  height: 100%;
}
.ImgSgn
{
  width: 100%;
  height: 100%;
  position: relative;
  right: 197px;
  border-radius: 0%;
  bottom: 1px;  
}
      .Titlu
      {
        color: white;
        position: relative;
        font-family: "Comic Sans MS", cursive;
      }